<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-change-app-info"
    version="2.2.0">
    
    <name>Change App Info</name>
    <description>Cordova plugin to change app package name, display name, version and icon from CDN at build time. Also supports replacing CSS/JS assets from CDN. Optimized for OutSystems MABS.</description>
    <license>MIT</license>
    <keywords>cordova,app,info,package,displayname,version,icon,ios,android,cdn,outsystems,mabs,css,assets</keywords>
    
    <author>vnkhoado</author>
    <repo>https://github.com/vnkhoado/cordova-plugin-change-app-info.git</repo>
    
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>
    
    <!-- No plugin variables required - reads from config.xml preferences -->
    <!-- Add these to your config.xml or OutSystems Extensibility Configurations:
         - CDN_ICON: Icon URL (e.g., https://cdn.com/icon.png)
         - CDN_ASSETS: JSON config URL for CSS/JS replacement (e.g., https://cdn.com/assets.json)
         - APP_NAME: App display name
         - PACKAGE_NAME: Bundle ID / Package name
         - VERSION_NUMBER: Version string (e.g., "1.0.0")
         - VERSION_CODE: Build number (e.g., "1")
    -->
    
    <!-- Android Platform -->
    <platform name="android">
        <!-- Change app info (package, name, version) -->
        <hook type="after_prepare" src="hooks/changeAppInfo.js" />
        
        <!-- Generate icons from CDN -->
        <hook type="after_prepare" src="hooks/generateIcons.js" />
        
        <!-- Replace CSS/JS assets from CDN -->
        <hook type="after_prepare" src="hooks/replaceAssetsFromCdn.js" />
    </platform>
    
    <!-- iOS Platform -->
    <platform name="ios">
        <!-- Change app info (bundle id, name, version) -->
        <hook type="after_prepare" src="hooks/changeAppInfo.js" />
        
        <!-- Generate icons from CDN - Multiple hooks to ensure it works -->
        <hook type="after_prepare" src="hooks/generateIcons.js" />
        <hook type="before_compile" src="hooks/generateIcons.js" />
        
        <!-- Replace CSS/JS assets from CDN -->
        <hook type="after_prepare" src="hooks/replaceAssetsFromCdn.js" />
        
        <!-- Clean build before compile -->
        <hook type="before_build" src="hooks/cleanBuild.js" />
        
        <!-- Replace Ios Icon after compile -->
        <hook type="after_compile" src="hooks/forceReplaceIosIcons.js" />
        
        <!-- Force Xcode to use AppIcon from xcassets -->
        <config-file target="*-Info.plist" parent="CFBundleIcons">
            <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array/>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </config-file>
        
        <!-- Set AppIcon name -->
        <config-file target="*-Info.plist" parent="CFBundleIconName">
            <string>AppIcon</string>
        </config-file>
    </platform>
</plugin>
