<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-change-app-info"
    version="2.0.1">
    
    <name>Change App Info</name>
    <description>Cordova plugin to change app package name, display name, version and icon from CDN at build time</description>
    <license>MIT</license>
    <keywords>cordova,app,info,package,displayname,version,icon,ios,android,cdn,outsystems,mabs</keywords>
    
    <!-- Plugin Variables (from OutSystems JSON config) -->
    <preference name="PACKAGE_NAME" default="" />
    <preference name="APP_NAME" default="" />
    <preference name="VERSION_NUMBER" default="" />
    <preference name="VERSION_CODE" default="" />
    <preference name="CDN_ASSETS" default="" />
    <preference name="CDN_ICON" default="" />
    
    <engines>
        <engine name="cordova" version=">=9.0.0" />
    </engines>
    
    <!-- Android Platform -->
    <platform name="android">
        <!-- Change app info (package, name, version) -->
        <hook type="after_prepare" src="hooks/changeAppInfo.js" />
        
        <!-- Generate icons from CDN -->
        <hook type="after_prepare" src="hooks/generateIcons.js" />
        
        <!-- REMOVED: config-file for strings.xml to prevent duplicates -->
        <!-- app_name will be set by changeAppInfo.js hook instead -->
    </platform>
    
    <!-- iOS Platform -->
    <platform name="ios">
        <!-- Change app info (bundle id, name, version) -->
        <hook type="after_prepare" src="hooks/changeAppInfo.js" />
        
        <!-- Generate icons from CDN - Multiple hooks to ensure it works -->
        <hook type="after_prepare" src="hooks/generateIcons.js" />
        <hook type="before_compile" src="hooks/generateIcons.js" />
        
        <!-- Clean build before compile -->
        <hook type="before_build" src="hooks/cleanBuild.js" />
        
        <!-- Force Xcode to use AppIcon from xcassets -->
        <config-file target="*-Info.plist" parent="CFBundleIcons">
            <dict>
                <key>CFBundlePrimaryIcon</key>
                <dict>
                    <key>CFBundleIconFiles</key>
                    <array/>
                    <key>UIPrerenderedIcon</key>
                    <false/>
                </dict>
            </dict>
        </config-file>
        
        <!-- Set AppIcon name -->
        <config-file target="*-Info.plist" parent="CFBundleIconName">
            <string>AppIcon</string>
        </config-file>
    </platform>
</plugin>